@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@font-face {
	font-family: Halfomania;
	src: url(/assets/fonts/Halfomania-Regular.ttf);
}
/* primary green color : #16a085
secondary green color: #1abc9c
primary text black : #212121
secondary text gray: #757575 
divider color : #BDBDBD */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: rgb(26, 18, 18);
	color: #212121;
	font-family: 'Poppins', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}
li {
	list-style: none;
}

h1,
h2,
h3 {
	font-weight: 300;
	text-align: left;
}

h1 {
	font-weight: 400;
	margin-top: 0;
	font-size: 2rem;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	font-size: 1.5rem;
	word-spacing: 2px;
	letter-spacing: 1px;
}

h3 {
	font-size: .9rem;
}

.display-none {
	display: none;
}

.text-secondary {
	color: #757575;
}

button {
	outline: none;
	border-style: none;
	font-family: 'Poppins', 'Arial', sans-serif;
}

button:visited {
	border-style: none;
}

.btn,
.btn:link,
.btn:focus {
	border-style: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 5px;
	padding: .5rem;
	text-transform: uppercase;
}

.btn-primary {
	font-size: .8rem;
	color: #fff;
	background: linear-gradient(
		90deg,
		rgba(16, 117, 98, 1) 0%,
		rgba(26, 188, 156, 1) 100%
	);
}

.btn-wrapper {
	display: inline-block;
	background: linear-gradient(
		90deg,
		rgba(16, 117, 98, 1) 0%,
		rgba(26, 188, 156, 1) 100%
	);
	border-radius: 5px;
	padding: 2px;
	margin: 0px 10px;
}

.btn-secondary {
	font-size: .8rem;
	color: rgba(16, 117, 98, 1);
	background-color: #fff;
}

.text-primary {
	background: linear-gradient(
		90deg,
		rgba(16, 117, 98, 1) 0%,
		rgba(26, 188, 156, 1) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.btn-container {
	display: flex;
	justify-content: start;
	margin-top: 1.5rem;
}

.navbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: auto;
	z-index: 2000;
	padding: .5rem .5rem;
}

/*Styling Hamburger Icon*/
.hamburger div {
	background: linear-gradient(
		90deg,
		rgba(21, 135, 114, 1) 0%,
		rgba(51, 208, 148, 1) 100%
	);
	width: 30px;
	height: 3px;

	margin: 3px;
	transition: all 0.3s ease;
}
.hamburger {
	width: 50px;
	height: 50px;
	display: none;
	border-radius: 50%;
	background: #f2f5f7;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.185);
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
	transition: all 0.7s ease;
	width: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

.navbar__items {
	display: flex;
	flex-direction: row;
}

.navbar__items--item {
	margin: .5rem;
	cursor: pointer;
}

.logo {
	display: flex;
	font-size: 2.5rem;

	cursor: pointer;
	margin-left: .4rem;
	margin-top: .4rem;
}

.gradient-text {
	background: linear-gradient(
		90deg,
		rgba(16, 117, 98, 1) 0%,
		rgba(26, 188, 156, 1) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.logo-text {
	font-family: 'Neucha';
	margin-left: .2rem;
}

.container {
	display: flex;
	justify-content: center;
	background-color: rgb(53, 53, 53);
	width: 100%;
	height: 100vh;
	perspective: 1800px;
}

.fluid-container {
	height: auto;
	width: auto;
	margin: 0px auto;
}

.pageContainer {
	background-image: url(/assets/images/bg.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-content: center;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.pagesCube {
	position: relative;
	transform-style: preserve-3d;
	height: 100%;
	width: 100%;
}

.pagesCube__content {
	transform-style: preserve-3d;
	text-align: center;
	font-weight: 400;
	position: absolute;
	width: 100%;
	height: 100%;
}

.about-me-container {
	display: flex;
	max-width: 500px;
	flex-basis: 50vw;
	flex-direction: column;
}

.header-image-container {
	flex-basis: 50vw;
	max-width: 570px;
}

.pagesCube__content--about {
}

.pagesCube__content--skills {
	background-color: rgb(219, 63, 63);
}

.pagesCube__content--projects {
	background-color: rgb(83, 136, 216);
}
.pagesCube__content--contact {
	background-color: rgb(159, 89, 224);
}

.exitToLeft {
	transform-origin: 100% 50%;
	animation: cubeLeftOut .675s ease-in both;
}

.exitToRight {
	transform-origin: 0% 50%;
	animation: cubeRightOut .675s ease-in both;
}

.enterFromRight {
	transform-origin: 0% 50%;
	animation: cubeLeftIn .675s ease-in both;
}

.enterFromLeft {
	transform-origin: 100% 50%;
	animation: cubeRightIn .675s ease-in both;
}

footer {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.footer-icons {
	display: inline-block;
	color: #16a085;
	font-size: 2rem;
	background-color: rgba(128, 128, 128, 0.144);
	border-radius: 5px 5px 0 0;
	padding: 0 .25rem;
	box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.3);
}

.footer-icons i {
	margin: .25rem;
}

@keyframes cubeLeftOut {
	50% {
		animation-timing-function: ease-in;
		transform: translateX(-50%) translateZ(-100px) rotateY(-45deg);
	}
	100% {
		transform: translateX(-100%) rotateY(-90deg);
	}
}

@keyframes cubeRightOut {
	50% {
		animation-timing-function: ease-in;
		transform: translateX(50%) translateZ(-100px) rotateY(45deg);
	}
	100% {
		transform: translateX(100%) rotateY(90deg);
	}
}

@keyframes cubeLeftIn {
	0% {
		transform: translateX(100%) rotateY(90deg);
	}
	50% {
		animation-timing-function: ease-in;
		transform: translateX(50%) translateZ(-100px) rotateY(45deg);
	}
}

@keyframes cubeRightIn {
	0% {
		transform: translateX(-100%) rotateY(-90deg);
	}
	50% {
		animation-timing-function: ease-in;
		transform: translateX(-50%) translateZ(-100px) rotateY(-45deg);
	}
}

/* button effects */

/* Grow Shadow */
.hvr-grow-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.hvr-grow-shadow:active {
	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.05);
	transform: translateY(3px) scale(1.05);
}

/* Bounce To Right */
.hvr-bounce-to-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.hvr-bounce-to-right:before {
	border-radius: 5px;
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(
		90deg,
		rgba(16, 117, 98, 1) 0%,
		rgba(26, 188, 156, 1) 100%
	);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
	border-radius: 5px;
	color: white;
}
.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
	border-radius: 5px;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
